### Gender Wage Gap and Salary Prediction

[Berra Karayel] Capstone 2 Data Wrangling

In [1]:
import pandas as pd

#import warnings
#import itertools
#import numpy as np 

#import seaborn as sns
#import matplotlib.pyplot as plt
#import lightgbm as lgb

#from sklearn.model_selection import train_test_split
#from sklearn.metrics import confusion_matrix

#warnings.simplefilter(action='ignore', category=FutureWarning)
#sns.set_style('whitegrid')

In [2]:
#loading the data

salary_df = pd.read_csv("/Users/berrakarayel/Desktop/Capstone 2/Gender Wage Gap Data/multipleChoiceResponses.csv")

/var/folders/5q/s1r244vx3q30tczvdcr2cqzw0000gn/T/ipykernel_65479/4101762170.py:3: DtypeWarning: Columns (0,2,8,10,21,23,24,25,26,27,28,42,44,54,56,64,81,83,85,87,105,107,109,121,123,125,148,150,157,172,174,192,194,210,218,219,221,223,246,247,249,262,264,276,277,278,279,280,281,282,283,284,285,286,287,288,289,290,302,304,306,325,326,329,341,368,371,384,385,389,390,391,393,394) have mixed types. Specify dtype option on import or set low_memory=False.
  salary_df = pd.read_csv("/Users/berrakarayel/Desktop/Capstone 2/Gender Wage Gap Data/multipleChoiceResponses.csv")

In [3]:
salary_df.head()

,Time from Start to Finish (seconds),Q1,Q1_OTHER_TEXT,Q2,Q3,Q4,Q5,Q6,Q6_OTHER_TEXT,Q7,...,Q49_OTHER_TEXT,Q50_Part_1,Q50_Part_2,Q50_Part_3,Q50_Part_4,Q50_Part_5,Q50_Part_6,Q50_Part_7,Q50_Part_8,Q50_OTHER_TEXT
0,Duration (in seconds),What is your gender? - Selected Choice,What is your gender? - Prefer to self-describe...,What is your age (# years)?,In which country do you currently reside?,What is the highest level of formal education ...,Which best describes your undergraduate major?...,Select the title most similar to your current ...,Select the title most similar to your current ...,In what industry is your current employer/cont...,...,What tools and methods do you use to make your...,What barriers prevent you from making your wor...,What barriers prevent you from making your wor...,What barriers prevent you from making your wor...,What barriers prevent you from making your wor...,What barriers prevent you from making your wor...,What barriers prevent you from making your wor...,What barriers prevent you from making your wor...,What barriers prevent you from making your wor...,What barriers prevent you from making your wor...
1,710,Female,-1,45-49,United States of America,Doctoral degree,Other,Consultant,-1,Other,...,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1
2,434,Male,-1,30-34,Indonesia,Bachelor’s degree,Engineering (non-computer focused),Other,0,Manufacturing/Fabrication,...,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1
3,718,Female,-1,30-34,United States of America,Master’s degree,"Computer science (software engineering, etc.)",Data Scientist,-1,I am a student,...,-1,NaN,Too time-consuming,NaN,NaN,NaN,NaN,NaN,NaN,-1
4,621,Male,-1,35-39,United States of America,Master’s degree,"Social sciences (anthropology, psychology, soc...",Not employed,-1,NaN,...,-1,NaN,NaN,Requires too much technical knowledge,NaN,Not enough incentives to share my work,NaN,NaN,NaN,-1

In [4]:
#shape of the salary data set
salary_df.shape

(23860, 395)

In [5]:
#info of numeric values in the data set
salary_df.describe()

,Time from Start to Finish (seconds),Q1,Q1_OTHER_TEXT,Q2,Q3,Q4,Q5,Q6,Q6_OTHER_TEXT,Q7,...,Q49_OTHER_TEXT,Q50_Part_1,Q50_Part_2,Q50_Part_3,Q50_Part_4,Q50_Part_5,Q50_Part_6,Q50_Part_7,Q50_Part_8,Q50_OTHER_TEXT
count,23860,23860,23860,23860,23860,23439,22948,22901,23860,21686,...,23860,1372,6479,2675,2105,3570,1060,2501,521,23860
unique,7642,5,70,13,59,8,14,22,901,20,...,172,2,2,2,2,2,2,2,2,415
top,101,Male,-1,25-29,United States of America,Master’s degree,"Computer science (software engineering, etc.)",Student,-1,Computers/Technology,...,-1,Too expensive,Too time-consuming,Requires too much technical knowledge,Afraid that others will use my work without gi...,Not enough incentives to share my work,I had never considered making my work easier f...,None of these reasons apply to me,Other,-1
freq,31,19430,21738,6159,4716,10855,9430,5253,20603,5584,...,21658,1371,6478,2674,2104,3569,1059,2500,520,21421

In [6]:
#number of records in the data set
print("Number of replies to the survey :", salary_df.shape[0])

Number of replies to the survey : 23860

In [7]:
# Extracting the first row of the salary DataFrame as the column names
question_names = salary_df.iloc[0]

# Droping the first row from the salary DataFrame
salary_df = salary_df.drop(0, axis=0)

# Setting the column names of the salary DataFrame to the values in question_names
salary_df.columns = question_names

In [8]:
salary_df.head()

,Duration (in seconds),What is your gender? - Selected Choice,What is your gender? - Prefer to self-describe - Text,What is your age (# years)?,In which country do you currently reside?,What is the highest level of formal education that you have attained or plan to attain within the next 2 years?,Which best describes your undergraduate major? - Selected Choice,Select the title most similar to your current role (or most recent title if retired): - Selected Choice,Select the title most similar to your current role (or most recent title if retired): - Other - Text,In what industry is your current employer/contract (or your most recent employer if retired)? - Selected Choice,...,What tools and methods do you use to make your work easy to reproduce? (Select all that apply) - Other - Text,What barriers prevent you from making your work even easier to reuse and reproduce? (Select all that apply) - Selected Choice - Too expensive,What barriers prevent you from making your work even easier to reuse and reproduce? (Select all that apply) - Selected Choice - Too time-consuming,What barriers prevent you from making your work even easier to reuse and reproduce? (Select all that apply) - Selected Choice - Requires too much technical knowledge,What barriers prevent you from making your work even easier to reuse and reproduce? (Select all that apply) - Selected Choice - Afraid that others will use my work without giving proper credit,What barriers prevent you from making your work even easier to reuse and reproduce? (Select all that apply) - Selected Choice - Not enough incentives to share my work,What barriers prevent you from making your work even easier to reuse and reproduce? (Select all that apply) - Selected Choice - I had never considered making my work easier for others to reproduce,What barriers prevent you from making your work even easier to reuse and reproduce? (Select all that apply) - Selected Choice - None of these reasons apply to me,What barriers prevent you from making your work even easier to reuse and reproduce? (Select all that apply) - Selected Choice - Other,What barriers prevent you from making your work even easier to reuse and reproduce? (Select all that apply) - Other - Text
1,710,Female,-1,45-49,United States of America,Doctoral degree,Other,Consultant,-1,Other,...,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1
2,434,Male,-1,30-34,Indonesia,Bachelor’s degree,Engineering (non-computer focused),Other,0,Manufacturing/Fabrication,...,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1
3,718,Female,-1,30-34,United States of America,Master’s degree,"Computer science (software engineering, etc.)",Data Scientist,-1,I am a student,...,-1,NaN,Too time-consuming,NaN,NaN,NaN,NaN,NaN,NaN,-1
4,621,Male,-1,35-39,United States of America,Master’s degree,"Social sciences (anthropology, psychology, soc...",Not employed,-1,NaN,...,-1,NaN,NaN,Requires too much technical knowledge,NaN,Not enough incentives to share my work,NaN,NaN,NaN,-1
5,731,Male,-1,22-24,India,Master’s degree,Mathematics or statistics,Data Analyst,-1,I am a student,...,-1,NaN,Too time-consuming,NaN,NaN,Not enough incentives to share my work,NaN,NaN,NaN,-1

In [9]:
#our prediction will be salary, so inspecting relevant column
print(question_names['Q9'])

What is your current yearly compensation (approximate $USD)?

In [10]:
print(question_names['Q8'])

How many years of experience do you have in your current role?

In [11]:
print(salary_df['What is your current yearly compensation (approximate $USD)?'].unique())

[nan '10-20,000' '0-10,000'
 'I do not wish to disclose my approximate yearly compensation'
 '20-30,000' '125-150,000' '30-40,000' '50-60,000' '100-125,000'
 '90-100,000' '70-80,000' '80-90,000' '60-70,000' '400-500,000'
 '40-50,000' '150-200,000' '500,000+' '300-400,000' '200-250,000'
 '250-300,000']

In [12]:
#removing missing values in the relevant column and text values to convert it to numeric
salary_df = salary_df[salary_df['What is your current yearly compensation (approximate $USD)?'].notnull()]
salary_df = salary_df[salary_df['What is your current yearly compensation (approximate $USD)?'] != 'I do not wish to disclose my approximate yearly compensation']

In [13]:
#number of responses after cleaning
print(salary_df.shape[0], "replies left")

15429 replies left

In [14]:
salary_df.isna().sum()

0
Duration (in seconds)                                                                                                                                                                                       0
What is your gender? - Selected Choice                                                                                                                                                                      0
What is your gender? - Prefer to self-describe - Text                                                                                                                                                       0
What is your age (# years)?                                                                                                                                                                                 0
In which country do you currently reside?                                                                                                                                                                   0
                                                                                                                                                                                                        ...
What barriers prevent you from making your work even easier to reuse and reproduce? (Select all that apply) - Selected Choice - Not enough incentives to share my work                                  12630
What barriers prevent you from making your work even easier to reuse and reproduce? (Select all that apply) - Selected Choice - I had never considered making my work easier for others to reproduce    14667
What barriers prevent you from making your work even easier to reuse and reproduce? (Select all that apply) - Selected Choice - None of these reasons apply to me                                       13635
What barriers prevent you from making your work even easier to reuse and reproduce? (Select all that apply) - Selected Choice - Other                                                                   15037
What barriers prevent you from making your work even easier to reuse and reproduce? (Select all that apply) - Other - Text                                                                                  0
Length: 395, dtype: int64

In [15]:
#checking column names in salary data set
salary_df.columns

Index(['Duration (in seconds)', 'What is your gender? - Selected Choice',
       'What is your gender? - Prefer to self-describe - Text',
       'What is your age (# years)?',
       'In which country do you currently reside?',
       'What is the highest level of formal education that you have attained or plan to attain within the next 2 years?',
       'Which best describes your undergraduate major? - Selected Choice',
       'Select the title most similar to your current role (or most recent title if retired): - Selected Choice',
       'Select the title most similar to your current role (or most recent title if retired): - Other - Text',
       'In what industry is your current employer/contract (or your most recent employer if retired)? - Selected Choice',
       ...
       'What tools and methods do you use to make your work easy to reproduce? (Select all that apply) - Other - Text',
       'What barriers prevent you from making your work even easier to reuse and reproduce? (Select all that apply) - Selected Choice - Too expensive',
       'What barriers prevent you from making your work even easier to reuse and reproduce? (Select all that apply) - Selected Choice - Too time-consuming',
       'What barriers prevent you from making your work even easier to reuse and reproduce? (Select all that apply) - Selected Choice - Requires too much technical knowledge',
       'What barriers prevent you from making your work even easier to reuse and reproduce? (Select all that apply) - Selected Choice - Afraid that others will use my work without giving proper credit',
       'What barriers prevent you from making your work even easier to reuse and reproduce? (Select all that apply) - Selected Choice - Not enough incentives to share my work',
       'What barriers prevent you from making your work even easier to reuse and reproduce? (Select all that apply) - Selected Choice - I had never considered making my work easier for others to reproduce',
       'What barriers prevent you from making your work even easier to reuse and reproduce? (Select all that apply) - Selected Choice - None of these reasons apply to me',
       'What barriers prevent you from making your work even easier to reuse and reproduce? (Select all that apply) - Selected Choice - Other',
       'What barriers prevent you from making your work even easier to reuse and reproduce? (Select all that apply) - Other - Text'],
      dtype='object', name=0, length=395)

In [16]:
#renaming the column that will be used in the analysis
salary_df.rename(columns = {"What is your gender? - Selected Choice":"Gender", "What is your age (# years)?":"Age", "In which country do you currently reside?": "Country", "What is the highest level of formal education that you have attained or plan to attain within the next 2 years?": "Education", "Which best describes your undergraduate major? - Selected Choice":"Major", "Select the title most similar to your current role (or most recent title if retired): - Selected Choice":"Profession", "In what industry is your current employer/contract (or your most recent employer if retired)? - Selected Choice":"Industry", "How many years of experience do you have in your current role?":"Experience", "What is your current yearly compensation (approximate $USD)?":"Annual_Salary" }, inplace=True)

In [18]:
salary_df.head()

,Duration (in seconds),Gender,What is your gender? - Prefer to self-describe - Text,Age,Country,Education,Major,Profession,Select the title most similar to your current role (or most recent title if retired): - Other - Text,Industry,...,What tools and methods do you use to make your work easy to reproduce? (Select all that apply) - Other - Text,What barriers prevent you from making your work even easier to reuse and reproduce? (Select all that apply) - Selected Choice - Too expensive,What barriers prevent you from making your work even easier to reuse and reproduce? (Select all that apply) - Selected Choice - Too time-consuming,What barriers prevent you from making your work even easier to reuse and reproduce? (Select all that apply) - Selected Choice - Requires too much technical knowledge,What barriers prevent you from making your work even easier to reuse and reproduce? (Select all that apply) - Selected Choice - Afraid that others will use my work without giving proper credit,What barriers prevent you from making your work even easier to reuse and reproduce? (Select all that apply) - Selected Choice - Not enough incentives to share my work,What barriers prevent you from making your work even easier to reuse and reproduce? (Select all that apply) - Selected Choice - I had never considered making my work easier for others to reproduce,What barriers prevent you from making your work even easier to reuse and reproduce? (Select all that apply) - Selected Choice - None of these reasons apply to me,What barriers prevent you from making your work even easier to reuse and reproduce? (Select all that apply) - Selected Choice - Other,What barriers prevent you from making your work even easier to reuse and reproduce? (Select all that apply) - Other - Text
2,434,Male,-1,30-34,Indonesia,Bachelor’s degree,Engineering (non-computer focused),Other,0,Manufacturing/Fabrication,...,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1
3,718,Female,-1,30-34,United States of America,Master’s degree,"Computer science (software engineering, etc.)",Data Scientist,-1,I am a student,...,-1,NaN,Too time-consuming,NaN,NaN,NaN,NaN,NaN,NaN,-1
5,731,Male,-1,22-24,India,Master’s degree,Mathematics or statistics,Data Analyst,-1,I am a student,...,-1,NaN,Too time-consuming,NaN,NaN,Not enough incentives to share my work,NaN,NaN,NaN,-1
7,959,Male,-1,35-39,Chile,Doctoral degree,"Information technology, networking, or system ...",Other,1,Academics/Education,...,-1,Too expensive,NaN,NaN,NaN,NaN,I had never considered making my work easier f...,NaN,NaN,-1
8,1758,Male,-1,18-21,India,Master’s degree,"Information technology, networking, or system ...",Other,2,Other,...,-1,NaN,NaN,NaN,NaN,Not enough incentives to share my work,NaN,NaN,NaN,-1

In [19]:
#selecting the relevant columns from the data set and removing others
col_list = ["Gender", "Age", "Country", "Education", "Major", "Profession", "Industry", "Experience", "Annual_Salary"]
salary_df = salary_df[col_list]

In [21]:
salary_df.head()

,Gender,Age,Country,Education,Major,Profession,Industry,Experience,Annual_Salary
2,Male,30-34,Indonesia,Bachelor’s degree,Engineering (non-computer focused),Other,Manufacturing/Fabrication,5-10,"10-20,000"
3,Female,30-34,United States of America,Master’s degree,"Computer science (software engineering, etc.)",Data Scientist,I am a student,0-1,"0-10,000"
5,Male,22-24,India,Master’s degree,Mathematics or statistics,Data Analyst,I am a student,0-1,"0-10,000"
7,Male,35-39,Chile,Doctoral degree,"Information technology, networking, or system ...",Other,Academics/Education,10-15,"10-20,000"
8,Male,18-21,India,Master’s degree,"Information technology, networking, or system ...",Other,Other,0-1,"0-10,000"

In [30]:
salary_df.reset_index(drop=True)

,Gender,Age,Country,Education,Major,Profession,Industry,Experience,Annual_Salary
0,Male,30-34,Indonesia,Bachelor’s degree,Engineering (non-computer focused),Other,Manufacturing/Fabrication,5-10,"10-20,000"
1,Female,30-34,United States of America,Master’s degree,"Computer science (software engineering, etc.)",Data Scientist,I am a student,0-1,"0-10,000"
2,Male,22-24,India,Master’s degree,Mathematics or statistics,Data Analyst,I am a student,0-1,"0-10,000"
3,Male,35-39,Chile,Doctoral degree,"Information technology, networking, or system ...",Other,Academics/Education,10-15,"10-20,000"
4,Male,18-21,India,Master’s degree,"Information technology, networking, or system ...",Other,Other,0-1,"0-10,000"
...,...,...,...,...,...,...,...,...,...
15424,Male,30-34,Netherlands,Master’s degree,"Computer science (software engineering, etc.)",Software Engineer,Computers/Technology,10-15,"90-100,000"
15425,Male,22-24,Romania,Master’s degree,Mathematics or statistics,Student,I am a student,0-1,"0-10,000"
15426,Male,30-34,Turkey,Doctoral degree,"Computer science (software engineering, etc.)",Research Assistant,Academics/Education,5-10,"10-20,000"
15427,Male,45-49,France,Doctoral degree,"Computer science (software engineering, etc.)",Chief Officer,Computers/Technology,5-10,"250-300,000"
15428,Male,22-24,Turkey,Master’s degree,"Computer science (software engineering, etc.)",Software Engineer,Computers/Technology,0-1,"10-20,000"

In [33]:
#Creating new column named target with the values of Annual Salary column
dic = {'0-10,000': 5000, '10-20,000': 15000, '20-30,000': 25000, '30-40,000': 35000, 
       '40-50,000': 45000, '50-60,000': 55000, '60-70,000': 65000, '70-80,000': 75000, 
       '80-90,000': 85000, '90-100,000': 95000, '100-125,000': 112500, 
       '125-150,000': 137500, '150-200,000': 175000, '200-250,000': 225000, 
       '250-300,000': 275000, '300-400,000': 350000, '400-500,000': 450000, 
       '500,000+':500000}

salary_df['target'] = salary_df['Annual_Salary'].apply(lambda x: dic[x])

In [34]:
salary_df.head(10)

,Gender,Age,Country,Education,Major,Profession,Industry,Experience,Annual_Salary,target
2,Male,30-34,Indonesia,Bachelor’s degree,Engineering (non-computer focused),Other,Manufacturing/Fabrication,5-10,"10-20,000",15000
3,Female,30-34,United States of America,Master’s degree,"Computer science (software engineering, etc.)",Data Scientist,I am a student,0-1,"0-10,000",5000
5,Male,22-24,India,Master’s degree,Mathematics or statistics,Data Analyst,I am a student,0-1,"0-10,000",5000
7,Male,35-39,Chile,Doctoral degree,"Information technology, networking, or system ...",Other,Academics/Education,10-15,"10-20,000",15000
8,Male,18-21,India,Master’s degree,"Information technology, networking, or system ...",Other,Other,0-1,"0-10,000",5000
10,Male,30-34,Hungary,Master’s degree,Engineering (non-computer focused),Software Engineer,Online Service/Internet-based Services,3-4,"20-30,000",25000
12,Male,40-44,United States of America,Master’s degree,Engineering (non-computer focused),Data Scientist,Other,5-10,"125-150,000",137500
13,Male,25-29,France,Doctoral degree,Mathematics or statistics,Student,I am a student,NaN,"30-40,000",35000
14,Male,25-29,United States of America,Bachelor’s degree,Mathematics or statistics,Research Assistant,Academics/Education,1-2,"30-40,000",35000
15,Female,25-29,Argentina,Bachelor’s degree,"A business discipline (accounting, economics, ...",Data Analyst,Other,1-2,"10-20,000",15000

In [35]:
#outliner detection (Students who earn more than half a million in a year which is obviously impossible)
liars = salary_df[salary_df['Profession'] == "Student"]
liars = liars[liars['target'] >= 500000]

In [36]:
#Removing trolls (indicated earning more than 500k)
salary_df = salary_df[salary_df['target'] < 500000]

In [38]:
salary_df.shape

(15366, 10)

In [39]:
#regrouping most country by continent / region, 
#except for the five most represented ones (USA, India, China, Russia and Brazil) 
country_dic = {'Morocco': 'Africa',
             'Tunisia': 'Africa',
             'Austria': 'Europe',
             'Hong Kong (S.A.R.)': 'Asia',
             'Republic of Korea': 'Asia',
             'Thailand': 'Asia',
             'Czech Republic': 'Europe',
             'Philippines': 'Asia',
             'Romania': 'Europe',
             'Kenya': 'Africa',
             'Finland': 'Europe',
             'Norway': 'Europe',
             'Peru': 'South America',
             'Iran, Islamic Republic of...': 'Middle East',
             'Bangladesh': 'Asia',
             'New Zealand': 'Oceania',
             'Egypt': 'Africa',
             'Chile': 'South America',
             'Belarus': 'Europe',
             'Hungary': 'Europe',
             'Ireland': 'Europe',
             'Belgium': 'Europe',
             'Malaysia': 'Asia',
             'Denmark': 'Europe',
             'Greece': 'Europe',
             'Pakistan': 'Asia',
             'Viet Nam': 'Asia',
             'Argentina': 'South America',
             'Colombia': 'South America',
             'Indonesia': 'Oceania',
             'Portugal': 'Europe',
             'South Africa': 'Africa',
             'South Korea': 'Asia',
             'Switzerland': 'Europe',
             'Sweden': 'Europe',
             'Israel': 'Middle East',
             'Nigeria': 'Africa',
             'Singapore': 'Asia',
             'I do not wish to disclose my location': 'dna',
             'Mexico': 'North America',
             'Ukraine': 'Europe',
             'Netherlands': 'Europe',
             'Turkey': 'Asia',
             'Poland': 'Europe',
             'Australia': 'Oceania',
             'Italy': 'Europe',
             'Spain': 'Europe',
             'Japan': 'Asia',
             'France': 'Europe',
             'Canada': 'North America', 
             'United Kingdom of Great Britain and Northern Ireland': 'Europe',
             'Germany': 'Europe',
             'Brazil': 'South America',
             'Russia': 'Russia',
             'Other': 'Other',
             'China': 'China',
             'India': 'India',
             'United States of America': 'USA'}

In [40]:
salary_df['Country'] = salary_df['Country'].apply(lambda x: country_dic[x])

/var/folders/5q/s1r244vx3q30tczvdcr2cqzw0000gn/T/ipykernel_65479/1961790387.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  salary_df['Country'] = salary_df['Country'].apply(lambda x: country_dic[x])

In [41]:
salary_df.head()

,Gender,Age,Country,Education,Major,Profession,Industry,Experience,Annual_Salary,target
2,Male,30-34,Oceania,Bachelor’s degree,Engineering (non-computer focused),Other,Manufacturing/Fabrication,5-10,"10-20,000",15000
3,Female,30-34,USA,Master’s degree,"Computer science (software engineering, etc.)",Data Scientist,I am a student,0-1,"0-10,000",5000
5,Male,22-24,India,Master’s degree,Mathematics or statistics,Data Analyst,I am a student,0-1,"0-10,000",5000
7,Male,35-39,South America,Doctoral degree,"Information technology, networking, or system ...",Other,Academics/Education,10-15,"10-20,000",15000
8,Male,18-21,India,Master’s degree,"Information technology, networking, or system ...",Other,Other,0-1,"0-10,000",5000

In [43]:
salary_df.isna().sum()

0
Gender             0
Age                0
Country            0
Education          0
Major            129
Profession         0
Industry           0
Experience        76
Annual_Salary      0
target             0
dtype: int64

In [42]:
salary_df.to_csv("salary_cleaned.csv")